@charset "EUC-KR";



table {
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #FFFFFF;
	font-size: 1em;
	/* font-size: 11px; */
	margin: 20px auto 0;
	width:800px;
	height:1000px; 	
}

th {
	background-color: #FFFFFF;
	color: #333;
	font-size: 1em;
	/* font-size: 16px; */
/* 	border: 1px solid #ccc; */
	border-radius: 4px;
	margin: 0px;
	padding: 3px;
	height: 10px;
	width: 100px;
}

tr {
	background-color: white;
	color: #000000;
	font-size: 1em;	
	/* font-size: 12px; */
	border: 1px solid #ccc ; /*#CC3D3D*/
	border-radius: 4px;
	margin: 0px;
	padding: 3px;
	height: 30px;
	width: 250px;
}

td {
	background-color: white/* #FFEAEA */;
	color: #000000;
	font-size: 1em;
	/* font-size: 12px; */
	/* border: 1px solid #ccc#CC3D3D */;
	border-radius: 4px;
	margin: 0px;
	padding: 3px;
	height: 30px;
	width: 250px;
}


.input {
	width: 400px;
	height: 40px;
	background-color: #FFFFFF;
	border: 1px solid #ccc/* #CC3D3D */;
}

.inputEmail {
	width: 187px;
	height: 40px;
	background-color: #FFFFFF;
	border: 1px solid #ccc/* #CC3D3D */;
}

.inputHp {
	width: 122px;
	height: 40px;
	background-color: #FFFFFF;
	border: 1px solid #ccc/* #CC3D3D */;
}

.inputButton {
	background-color: #3498DB;
	border: none;
	color: white;
	width: 150px;
	height: 40px;
	font-size: 1em;
	/* font-size: 15px; */
	margin: 3px;
}
